<h1><%= current_user.name%>'s friendships</h1>
<table>
  <thead>
    <tr>
      <th> All Friends </th>
      <th> Pending invitations </th>
      <th> Pending Sent requests </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <%= display_all_friends(@friends) %>
        </ul>
      </td>
      <td>
        <ul>
          <%= display_invitations(@invitations) %>
        </ul>
      </td>
      <td>
        <ul>
          <%= display_requests(@invitations) %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>